* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #0f0f0f;
}
.movie-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  justify-content: center;
  gap: 70px;
  padding: 50px;
  background: #0f0f0f;
}

.card {
  background: linear-gradient(145deg, #222, #111);
  width: vw;
  height: vh;
  padding: 18px;
  border-radius: 22px;
  text-align: center;
  color: white;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
  transition:
    transform 0.35s ease,
    box-shadow 0.35s ease;
}
.card:hover {
  transform: translateY(-12px) scale(1.04);
  box-shadow: 0 20px 45px rgba(229, 9, 20, 0.35);
}
.card img {
  width: 100%;
  height: 330px;
  object-fit: cover;
  border-radius: 18px;
  transition: 0.4s ease;
}
.card:hover img {
  transform: scale(1.03);
}
.card h2 {
  margin-top: 18px;
  font-size: 20px;
  font-weight: 700;
  color: #f1f1f1;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card p {
  font-size: 14px;
  font-weight: 600;
  color: #bdbdbd;
  margin: 10px;
}
.card p:nth-last-child(2),
.card p:last-child {
  color: #ffffff;
  font-weight: 700;
  background: rgba(255, 255, 255, 0.08);
  padding: 8px;
  border-radius: 10px;
}
@media (max-width: 1000px) {
  .movie-container {
    grid-template-columns: repeat(2, 300px);
  }
}
@media (max-width: 650px) {
  .movie-container {
    grid-template-columns: repeat(1, 300px);
  }
}
